.bubble {
    position: relative;
    min-width: 283px;
    max-width: 423px;
    padding: 32px 40px;
    background-color: #243961;
    color: #243961;
    border-radius: 40px;
    z-index: 1;
}

.bubble--light-violet {
    background-color: #61235F;
    color: #61235F;
}
.bubble--green {
    background-color: #315C51;
    color: #315C51;
}

.bubble--red {
    background-color: #6A2844;
    color: #6A2844;

}

.bubble--violet {
    background-color: #432858;
    color: #432858;
}

.bubble--light-brown {
    background-color: #62432C;
    color: #62432C;

}
.bubble--light-green {
    background-color: #676A47;
    color: #676A47;

}

.bubble__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}

.bubble__icon {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
}

.bubble--icon-right .bubble__icon {
    left: auto;
    right: 0;
    transform: translateX(50%) scale(-1, 1);
}
